@import url("./assets/fonts/hauora/style.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
    height: 100%;
}

body {
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: Hauora;
}